.navbar {
    position: fixed;
    width: 100%;
    background-color: transparent;
    transition: 0.5s;
    
  }
  
  .navbar.scrolled {
    transition: 0.5s ease-in-out;
    background-color: #ffffff; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    top: 0;
    height: 62px;
    opacity: 0.9;
    z-index: 1000;
  }

  .navbar.scrolled img {
    transform: scale(0.5);
    transition: 0.5s;
    padding-top: 0;
  }

  @media (max-width: 1000px) {
    .navbar{
    padding-left: 40px; 
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
  }
     .logo {
      width: 64px;
      height: 64px;
    }

}

